*{
margin: 0%;
border: 0%;
  background-repeat: no-repeat;
background-size: 1900px;
}

.pub{
  margin-top: 1%;
 border-radius: 15%;
 margin-left: 2.0%;
 display:flex;
}
.quem{
margin-left: 1%;
color: azure;
height: 350px;
width: 275px;
border-radius: 5%;


}
.M{

  margin-left: 25%;
  margin-top: -27%;
color: white;
}