body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.full-screen {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance-img {
    width: 70%;
    height: 70%;
}
