*{
margin: 0%;
border: 0%;
background-color: black;
}

.pub{
  margin-top: 1%;
 border-radius: 15%;

 display:flex;

}
.quem{
margin-top: 2%;
color: azure;
height: 350px;
width: 275px;
border: solid 3px;
border-color: white;
border-radius: 2%;

}
.M{
margin-top: 5%;
color: white;
background-color:white;
}
.FPOO, .SOP, .LIMA, .HARE{
padding-top: 1%;
border-color: white;
border: solid 2px;
padding-bottom: 1%;
}